.body h2{
    text-align: left;
    padding-top: 25px;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 10px;
}


.body{
    display: block;
    text-align: center;
    color: black;
    background-color: azure;
    border-radius: 8px;
    font-family: 'Roboto Slab', serif;
    margin: 20px;
    padding-bottom: 15px;
    
}


#continuebutton a{
    
    display: block;
    text-align: center;
}

li{
    text-align: left;
}

li{
    font-family: 'Open Sans', sans-serif;
}


