#poster{
    padding-top: 100px;
    padding-bottom: 50px;
    border-radius: 8px;

}


.body p{
    padding-left: 16px;
    font-family: "Open Sans", sans-serif;
    text-align: left;
}

footer{
    text-align: center;
}


.flex-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    background-color: white;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 1px;
    display: flex;
justify-content: center;
margin: auto;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .flex-container button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 8px;

  }
  
  .flex-container button:hover {
    opacity: 0.7;
  }

  footer{
    font-family: "Open Sans", sans-serif;
  }

  #nutritionalinfooo{
    padding-left: 10px;
    text-align: left;
  }

  .flex-child{
    padding-left: 50px;
    padding-right: 50px;
     background-color: white;
     padding-top: 10px;
padding-bottom: 10px;
border-radius: 8px;
  }

