html{
    margin-right: 5px;
}

b{
    font-family: "Open Sans", sans-serif;
}

#timerwarning{
    font-family: "Signika Negative", sans-serif;
    text-align: left;
    padding-left: 8px;
}

.paymentform{
    text-align: left;
    padding-left: 12px;
    font-family: "Open Sans", sans-serif;
}

label, input{
    padding: 5px;
    padding-top: 10px;
}

