h2{
    font-family: "Open Sans", sans-serif;
}
html{
    text-align: center;
}

img{
    padding-top: 30px;
    width: 20%;
}

p{
    font-family: "Open Sans", sans-serif;
}



button{
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 30px;
    border-radius: 8px;

}

button a{
    color: white;
    text-decoration: none;

}

button:hover{
    opacity: 0.69;
    text-decoration: underline;

}