html{
background-color:#cccbcb;
}



#header{
    text-align: center;
    
}

header h1{
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    padding: 20px;
    background-color: #5c0098;
    border-radius: 10px;
    font-family: 'Signika Negative';
    
}

header a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Open Sans', san;
}

footer p{
    padding-top: 15px;
    text-align: center;
}

.body{
    display: block;
    text-align: center;
    color: #000000;
    background-color: #f0ffff;
    border-radius: 8px;
    font-family: 'Roboto Slab', serif;
    margin: 20px;
    padding-bottom: 15px;
    padding-top: 3px;
}

body div h2{
    text-align: left;
    padding-top: 25px;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
}


li{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    padding-left: 15px;
}


footer{
    text-align: center;
}


.purchase{
    display: block;
    text-align: center;
    color: #000000;
    background-color: #ffa500;
    border-radius: 8px;
    font-family: 'Roboto Slab', serif;
    margin: 20px;
    padding-bottom: 30px;
}

.purchase h2{
    color: #ffffff;
}

footer p{
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 8px;
    padding-bottom: 3px;
}
footer a{
    color: #ffffff;
}